<div>
    <a href="/">HOME</a>
    &nbsp;
    <a href="/movies">FILMS</a>
    &nbsp;
    <a href="/movie-search">RECHERCHER</a>
    <span id="connectionLink">a href="/login">CONNEXION</a></span>



</div>